.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  background-color: var(--headerBg);
}

.pagination-item {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  background-color: var(--bg);

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    border: 1px solid #167abc;
  }
  a {
    text-decoration: none;
    color: var(--diffColor);
    font-size: 16px;

    @media (max-width: 500px) {
      font-size: 12px;
    }
  }
}

ul.pagination li.active a {
  color: white;
}

ul.pagination li.active {
  background-color: var(--mainBlue);
}
