.pagination-item {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  margin-right: 10px;
  font-weight: bold;
  margin-bottom: 5px;
  border: none;
  color: #fff;
  box-shadow: -2px 3px 39px -8px black;

  &:hover {
    cursor: pointer;
  }
}

.active {
  background: var(--mainYellow);
  color: #000;
}

.inactive {
  background-color: #29353b;
  color: var(--lightHeaderBg);

  &:hover {
    cursor: pointer;
  }
}

.pagination-item.inactive:hover {
  background-color: var(--darkCardBg);
  color: var(--mainText);
}
