* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --darkBg: #212121;
  --darkHeaderBg: rgba(33, 33, 33, 0.9);
  --lightHeaderBg: #e5e5e5;
  --textLightColor: #fff;
  --textDarkColor: ##555555;
  --darkCardBg: #ffffff;
  --lightCardBg: #f5f5f5;
  --mainYellow: #feca0d;
  --mainBlue: #167abc;
  font-size: 90%;
  font-family: "PT Sans", sans-serif;
}

a {
  text-decoration: none;
}

.dark {
  --bg: var(--darkBg);
  --headerBg: var(--darkHeaderBg);
  --textColor: var(--textLightColor);
  --diffColor: var(--mainBlue);
  --cardBg: var(var(--darkCardBg));
}

.light {
  --bg: var(--lightHeaderBg);
  --headerBg: var(--darkCardBg);
  --textColor: var(--textDarkColor);
  --diffColor: var(--mainBlue);
  --cardBg: var(--lightCardBg);
}
